<h2>Cadastro concluído com sucesso.</h2>
<p> @ViewBag.Aluno </p>
<p>Disciplina: @ViewBag.Disciplina - Nota: @ViewBag.Nota</p>
<p><a asp-action="Cadastro">Realizar novo Cadastro</a></p>
<p><a asp-action="Listagem">Ir Para Listagem</a></p>